/*---------importaciones------------*/

@import url(header.css);
@import url(footer.css);

/*== estilos generales ==*/

.descripcion {
    padding: 20px;
}

@media (min-width: 780px) {
    .descripcion {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .descripcion{
        display: flex;
        justify-content: center;
    }
}

.caracteristicas {
    position: relative;
    padding: 20px 10px 0 10px;
    margin: 5px 10px;
}

.caracteristicas__title {
    font-size: 35px;
    margin: 8px 0;
}

.ul {
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
}

/*--- colores ---*/

.colores {
    margin: 20px 0;
}

.botones {
    margin: 10px 3px;
}

/*--- pdf ---*/

.pdf__container {
    margin: 10px 0;
}

.button__pdf {
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    background: #000;
    margin: 20px 0;
    outline: none;
    border: none;
    width: 140px;
    height: 55px;
}

/*--- slider ---*/

.chair__slider {
    width:500px;
    margin: 0 10px; 
    position: relative;
    overflow: hidden;
}

.slider__li {
    list-style: none;
    width: 100%;
}

.slider__btn {
    width: 40px;
    height: 40px;
    top: 50%; 
    position: absolute;
    z-index: 5000;
    background: rgba(0,0,0,0.7);
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: rgba(0,0,0,0.7);
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.slider__img {
    position: relative;
    z-index: -5000;
    height: 500px;
}

/*-------------------- SIAM --------------------*/

.color-siam {
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 1px 1px 9px #000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(150deg , white 50%, grey 50% );
}

.slider__ul__siam {
    text-align: center;
    display: flex;
    width: 500%;
}

/*-------------------- SONIC --------------------*/

.color-sonic {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__sonic {
    text-align: center;
    display: flex;
    width: 200%;
}

.video__presentacion {
    height: 450px;
}

/*-------------------- XENIA --------------------*/

.color-xenia {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__xenia {
    display: flex;
    text-align: center;
    width: 200%;
}

/*-------------------- SANDY --------------------*/

.color-sandy {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__sandy {
    text-align: center;
    display: flex;
    width: 300%;
}

/*--------------------- VERO ---------------------*/

.color-vero {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__vero {
    text-align: center;
    display: flex;
    width: 400%;
}

/*-------------------- LIANN --------------------*/

.color-liann {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__liann {
    text-align: center;
    display: flex;
    width: 400%;
}

/*-------------------- ESCOCIA --------------------*/

.color-escocia {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;
}

.color-escocia-2 {
    cursor: pointer;
    outline: none; 
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    background: linear-gradient(150deg, white 50%, grey 50%);
}

.slider__ul__escocia {
    text-align: center;
    display: flex;
    width: 500%;
}

/*--------------------- ADARA ---------------------*/

.color-adara {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;
}

.color-adara-2 {
    cursor: pointer;
    outline: none; 
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    background: linear-gradient(150deg, white 50%, grey 50%);
}

.slider__ul__adara {
    display: flex; 
    text-align: center;
    width: 1000%;
}

/*-------------------- VENECIA --------------------*/

.color-venecia {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;
}


/*--------------------- NIZA ---------------------*/

.color-niza {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;
}

.slider__ul__niza {
    width: 100%; 
    text-align: center;
}


/*-------------------- KALO -------------------*/

.color-kalo {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000; 
}

.slider__ul__kalo {
    width: 100%;
    text-align: center;
}