/*---------importaciones------------*/

@import url(header.css);
@import url(footer.css);

/*== estilos generales ==*/

.main__chair {
    margin-top: 60px;
}

.descripcion {
    padding: 20px;
}

@media (min-width: 780px) {
    .descripcion {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .descripcion{
        display: flex;
        justify-content: center;
    }
}

.caracteristicas {
    position: relative;
    padding: 20px 10px 0 10px;
    margin: 5px 10px;
}

.caracteristicas__title {
    text-transform: uppercase;
    font-size: 35px;
    margin: 8px 0;
}

.ul {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
}


/*--- colores ---*/

.colores {
    margin: 20px 0;
}

.botones {
    margin: 10px 3px;
}

/*--- pdf ---*/

.pdf__container {
    margin: 10px 0;
}

.button__pdf {
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    background: #000;
    margin: 20px 0;
    outline: none;
    border: none;
    width: 140px;
    height: 55px;
}

/*--- slider ---*/

.chair__slider {
    width: 500px;
    margin: 0 10px; 
    position: relative;
    overflow: hidden;
}


.slider__li {
    list-style: none;
    width: 100%;
}

.slider__btn {
    width: 40px;
    height: 40px;
    top: 50%; 
    position: absolute;
    z-index: 5000;
    background: rgba(0,0,0,0.7);
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn:hover {
    background: rgba(0,0,0,0.7);
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.slider__img {
    display: block;
    z-index: -5000;
    object-fit: contain;
    height: 500px;
    width: 100%;
}

/*--- end estilos generales ---*/

/*-------------------- SIAM --------------------*/

.color-siam {
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 1px 1px 9px #000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(150deg , white 50%, grey 50% );
}

.slider__ul__siam {
    text-align: center;
    display: flex;
    margin-left: -100%;
    width: 500%;
}

/*-------------------- SONIC --------------------*/

.color-sonic {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__sonic {
    margin-left: -100%;
    transition: all 500ms;
    text-align: center;
    display: flex;
    width: 300%;
}

.video__presentacion {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px;
}

/*-------------------- XENIA --------------------*/

.color-xenia {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__xenia {
    margin-left: -100%;
    transition: all 500ms;
    display: flex;
    text-align: center;
    width: 200%;
}

/*-------------------- SANDY --------------------*/

.color-sandy {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__sandy {
    transition: all 500ms;
    margin-left: -100%;
    text-align: center;
    display: flex;
    width: 300%;
}

/*--------------------- VERO ---------------------*/

.color-vero {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__vero {
    transition: all 500ms;
    margin-left: -100%;
    text-align: center;
    display: flex;
    width: 400%;
}

/*-------------------- LIANN --------------------*/

.color-liann {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
}

.slider__ul__liann {
    transition: all 500ms;
    text-align: center;
    margin-left: -100%;
    display: flex;
    width: 400%;
}

/*-------------------- ESCOCIA --------------------*/

.color-escocia {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;
}

.color-escocia-2 {
    cursor: pointer;
    outline: none; 
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    background: linear-gradient(150deg, white 50%, grey 50%);
}

.slider__ul__escocia {
    transition: all 500ms;
    text-align: center;
    margin-left: -100%;
    display: flex;
    width: 500%;
}

/*--------------------- ADARA ---------------------*/

.color-adara {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;
}

.color-adara-2 {
    cursor: pointer;
    outline: none; 
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    background: linear-gradient(150deg, white 50%, grey 50%);
}

.slider__ul__adara {
    margin-left: -100%;
    transition: all 500ms;
    display: flex; 
    text-align: center;
    width: 1000%;
}

/*-------------------- VENECIA --------------------*/

.color-venecia {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;
}


/*--------------------- NIZA ---------------------*/

.color-niza {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;
}

.slider__ul__niza {
    transition: all 500ms;
    width: 100%; 
    text-align: center;
}


/*-------------------- KALO -------------------*/

.color-kalo {
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000; 
}

.slider__ul__kalo {
    transition: all 500ms;
    width: 100%;
    text-align: center;
}

/*--- Responsive desing ---*/

@media screen and (max-width: 450px) {
    .chair__slider {
        width: 280px;
        text-align: center;
        margin: auto;
    }

    .slider__img {
        height: 300px;
    }

    .descripcion {
        padding: 0;
    }

    .caracteristicas {
        padding: 20px 20px 0 20px;
    }
}

@media screen and (max-width: 680px) {
    .chair__slider {
        width: 350px;
        text-align: center;
        margin: auto;
    }

    .slider__img {
        height: 350px;
    }

    .descripcion {
        padding: 5px;
    }

    .caracteristicas {
        padding: 20px 20px 0 20px;
    }
}

/*----- Linea gerencial -----*/
/*----- Linea de alta gama -----*/
/*----- Linea de espera -----*/

/*--- boston ---*/

.slider__ul__boston {
    display: flex;
    width: 1300%;
    margin-left: -100%;
    text-align: center;
}

.color-boston {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #333;
    box-shadow: 1px 1px 8px #000;;
}

.color-boston-2 {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 8px;
    box-shadow: 1px 1px 8px #000;
    background: rgb(49, 66, 255);
}

.color-boston-3 {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 8px;
    box-shadow: 1px 1px 8px #000;
    background: rgb(255, 98, 51);
}

.color-boston-4 {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 8px;
    box-shadow: 1px 1px 8px #000;
    background: rgb(255, 238, 0);
}

/*--- attis ---*/

.slider__ul__attis {
    width: 600%;
    display: flex;
    margin-left: -100%;
    text-align: center;
}

.color-attis {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #333;
    box-shadow: 1px 1px 8px #000;;
}

/*--- confidente ---*/

.slider__ul__confidente {
    width: 400%;
    display: flex;
    margin-left: -100%;
    text-align: center;
}

.color-confidente {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #333;
    box-shadow: 1px 1px 8px #000;
}

/*--- ixia ---*/

.slider__ul__ixia {
    width: 600%;
    display: flex;
    text-align: center;
    margin-left: -100%;
}

.color-ixia {
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 8px #000;
    background: #333;
}

/*--- idara ---*/

.slider__ul__idara {
    width: 300%;
    display: flex;
    text-align: center;
    margin-left: -100%;
}

.color-idara {
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 8px #000;
    background: #333;
}

/*--- eros ---*/

.slider__ul__eros {
    display: flex;
    margin-left: -100%;
    text-align: center;
    width: 300%;
}

.color-eros {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;;
}

.color-eros-2 {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    margin-left: 8px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 8px #000;;
}

/*--- luxor ---*/

.slider__ul__luxor {
    display: flex;
    width: 500%;
    margin-left: -100%;
    text-align: center;
}

.color-luxor {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-shadow: 1px 1px 8px #000;;
}

.color-luxor-2 {
    outline: none;
    border: none;
    cursor: pointer;
    width: 45px;
    margin-left: 8px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 8px #000;;
}

/*--- orieta ---*/

.slider__ul__orieta {
    width: 300%;
    margin-left: -100%;
    text-align: center;
    display: flex;
}

.color-orieta {
    outline: none;
    cursor: pointer;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000; 
    background: rgb(16, 16, 16);
}

/*----- Linea de gamer -----*/

/*--- gamer ---*/

.slider__ul__gamer {
    text-align: center;
    display: flex;
    margin-left: -100%;
    width: 1000%;
}

.color-gamer {
    cursor: pointer;
    outline: none; 
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    background: linear-gradient(-150deg, rgb(237, 2, 2) 50% , #000  50%);
}

.color-gamer-2 {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    margin-left: 5px;
    background: linear-gradient(-150deg, rgb(7, 24, 220) 50%, #000 50% ) ;
}



/*----- Linea de tandem -----*/


/*-- tandem brend ---*/

.slider__ul__brend {
    width: 400%;
    margin-left: -100%;
    display: flex;
    text-align: center;
}

.color-brend {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    margin-left: 5px;
    background: rgb(65, 104, 202);
}

.color-brend-2 {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    margin-left: 5px;
    background: #333;
}

.color-brend-3 {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    margin-left: 5px;
    background: #dbdbdb;
}

/*-- tandem bosto ---*/

.slider__ul__bosto {
    width: 600%;
    margin-left: -100%;
    display: flex;
    text-align: center;
}

.color-bosto {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    margin-left: 5px;
    background: #8d8d8d;
}

.color-bosto-2 {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    margin-left: 5px;
    background: rgb(33, 52, 255);
}

.color-bosto-3 {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    margin-left: 5px;
    background: rgb(252, 255, 47);
}

/*--- tandem-3 ---*/

.slider__ul__tandem-3 {
    width: 100%;
    display: flex;
    text-align: center;
}

.color-tandem-3 {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px #000;
    margin-left: 5px;
    background: #4f4f4f;
}